
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h1>Stupid coach</h1>
        <div class="answer">
          <p> <%=@question %></p>
          <p class="fst-italic"> -You </p>
        </div>
        <div class="answer">
         <p class="fw-bold"><%= @answer %></p>
          <p class="fst-italic">- Your coach</p>
        </div>

        <button type="button" class="btn btn-light"><%= link_to "ask a new question", ask_path %></button>
      </div>
    </div>
  </div>
</div>
